*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Montserrat;
    margin: 2% 5%;
    background-color: aliceblue;
}
header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.compscience{
    width: 30rem;
    height: 5rem;
}
nav{
    justify-content: center;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.line{
    height: 2rem;
    width:0.2rem;
}
.Courses{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #00335A;
    min-width: 160px;
    z-index: 1;
    font-size: 12px;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #3776a5;
}
.Courses:hover .dropdown-content {
    display: block;
}
.link{
    font-size: 18px;
    color: #070249;
    text-decoration: none;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
}
h1{
    text-align: center;
    color: #C0A062;
    font-size: 48px;
    margin-bottom: 2rem;
}
.short{
    text-align: justify;
    color: #070249;
    line-height: 45px; 
    font-size: 20px;
}
.flex1{
    display: flex;
    margin-top: 2rem;
    gap:2rem;
    margin-bottom: 2rem;
}
.flex2{
    background-color:#3776a5;
    padding-top: 2rem;
}
.flex2:hover{
    color: #fff;
}
h3{
    text-align: center;
    color: #070249;
    font-size: 22px;
    line-height: 30px;
}
.square{
    width: 10rem;
    height: 10rem;
    margin-left: 4rem;
}
.understand{
    color: #070249;
    font-size: 15px;
    text-align: center;
    width: 15rem;
    justify-content: center;
    margin-left: 2rem;
    line-height: 30px;
}
.Learn{
    margin-left: 4.5rem;
}
.link{
    display: flex;
    justify-content: center;
}
.Register{
    text-decoration: none;
    background-color: #070249;
    color: #C0A062;
    font-size: 22px;
    padding: 2rem;
    border-radius: 10px;
}
footer{
    background-color: #070249;
    padding: 2rem;
    margin-top: 3rem;
}
.summaries{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.summary{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h4{
    font-size: 30px;
    color: #C0A062;
}
p{
    font-size: 15px;
    color: #fff;
}
.lc{
    margin-top: 3rem;
    display: flex;
    gap: 17rem;
    line-height: 45px;
}
.newsletter{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
#email{
    padding: 0.5rem 1rem;
    border-color: transparent;
}
#enter{
    padding: 0.5rem 1rem;
    border-color: transparent;
    background-color: #fff;
}
.finale{
    margin: 3rem;
    display: flex;
    gap: 70%;
}
.Copyright{
    font-size: 14px;
}
.logo{
    width: 6rem;
    height: 2rem;
    display: flex;
}